/* Add this to your global styles (e.g., in index.css) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif; /* Default font */
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  /*background-color: #f8f8f8; /* Light background */
  background-color: darkolivegreen;
  color: #333; /* Dark text for readability */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif; /* Elegant serif font for headings */
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Centers the content */
  padding: 20px; /* Adds padding to all sides */
}

.page-section {
  margin-bottom: 40px; /* Add some space between sections */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #fff;*/
  padding: 20px 50px;
  /*background-color: rgba(193, 195, 198, 0.18);*/

  max-width: 97%;  /* Limit width for readability */
  margin: 15px auto;  /* Center content and add space above/below */

  background-color: rgba(241, 233, 222, 0.74);
  border-radius: 15px;  /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a.logo-a  {
  color: black;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;  /* Space between the navigation links */
  align-items: center;  /* Vertically center the navigation links with the logo */
}

nav a {
  text-decoration: none;
  color: black;  /* White text by default */
  font-size: 18px;
  font-weight: 500;
  transition: all 0.15s ease;  /* Smooth transition for color change */
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
  cursor: pointer;
 /* color: rgba(14, 23, 186, 0.52);  Desaturated color on hover (for minimalist effect) */
  transform: scale(1.1); /* Add hover effect for links as well */
}


.text-container {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 97%;  /* Limit width for readability */
  margin: 15px auto;  /* Center content and add space above/below */
  padding: 40px;  /* Inner spacing */
  background-color: rgba(255, 250, 240, 0.93); /* Light gray background */
  border-radius: 15px;  /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  gap: 5%;
}

.main-text {
  flex: 1;
}
.main-text h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.main-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.main-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.main-text p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.main-text a {
  margin-left: 1ch;
  margin-bottom: 1em;
  line-height: 1.6;
  color: #007bff;
  text-decoration: none;
}

.profile-pic {
  flex-shrink: 0;
}
.profile-pic img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

footer {
  /*background-color: #333;  Dark footer
  color: #fff; Light text */
  background-color: rgba(220, 220, 220, 0.37);
  color: #333;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  max-width: 97%;  /* Limit width for readability */
  margin: 15px auto;  /* Center content and add space above/below */
  border-radius: 15px;  /* Rounded corners */
}

footer a {
  color: #333; /*same as footer text*/
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}


.project-cards-container {
  /*max-width: 97%;  !* Limit width for readability *!*/
  margin: 15px auto;  /* Center content and add space above/below */
  /*padding: 40px;  !* Inner spacing *!*/
  /*background-color: rgba(255, 250, 240, 0.93); !* Light gray background *!*/
  /*border-radius: 15px;  !* Rounded corners *!*/
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); !* Soft shadow *!*/
  gap: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 10px 20px;
}

.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  max-width: 97%;  /* Limit width for readability */
  margin: 10px auto;  /* Center content and add space above/below */
  padding: 40px;  /* Inner spacing */
  background-color: rgba(255, 250, 240, 0.93); /* Light gray background */
  border-radius: 15px;  /* Rounded corners */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  gap: 5%;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project-card:hover {
  transform: translateY(-10px);  /* Slight hover animation */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);  /* Bigger shadow on hover */
}


.project-card-media img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;  /* Ensure image doesn't get stretched */
}

.project-card-media video {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.project-card-title {
  font-size: 20px;
  font-weight: 600;
}

.project-card-description {
  font-size: 14px;
  color: #666;
  margin: 6px 0;
}

.project-card-description p {
  margin-bottom: 1.5em;
}

.project-card-description a {
  text-decoration: none;
}

.project-card-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: auto;  /* Push the link to the bottom */
}

.project-card-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  .container {
    padding: 10px;
  }

  footer {
    font-size: 12px;
  }

  .project-cards-container {
    width: 90%;
  }

  .project-card {
    padding: 30px 15px;
  }
}